// .box{
//     width: 50%;
//     height: 40%;
//     marginLeft: '40%';
//     marginTop: '60px';
// }
// box{
    
// }
.box1{
    display:flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 8px;
    margin:4px;
}

.box2{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    // border: 8px solid black;
}

.box3{
    
}